In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat, desc, Column

In [3]:
spark = SparkSession\
  .builder\
  .appName('SDG_Chapter03')\
  .getOrCreate()

In [16]:
# Example code for the spark types operation and it's type is defined by spark not  by python or R
df = spark.range(500).toDF("number")
df.select(df["number"] + 10)

DataFrame[(number + 10): bigint]

In [17]:
df.printSchema

In [18]:
df.printSchema()

root
 |-- number: long (nullable = false)

In [19]:
df.take(4)

[Row(number=0), Row(number=1), Row(number=2), Row(number=3)]

In [20]:
df.createOrReplaceTempView('df')

In [22]:
df.take(4)

[Row(number=0), Row(number=1), Row(number=2), Row(number=3)]

In [23]:
num = spark.sql("""
SELECT number FROM df WHERE number<10
""")

In [24]:
num.show()

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
+------+